*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   border: none;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
}

.main-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.nav-wrapper{
    position:fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    width: 100%;
    box-shadow: 0px 5px 35px -7px rgba(0,0,0,0.75);
}

.nav-bar{
    font-size: 1.4rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 84%;
    max-width: 1250px;
    justify-content: space-between;
}

.top-logo{
    width: 31.5rem;

}

.nav-pages{
    height: 100%;
    font-size: 1.65rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-pages div{
    cursor: pointer;
    
    padding: 5rem;
    height: 100%;
}

.nav-pages a{
    color: black;
    text-decoration: none;
}

.nav-pages div a:hover{
    color: white;
    background-color: #0256A1;
}

.nav-pages div{
    padding: 0 0.8rem;
    margin: 0 1rem;

}



.main-wrapper{
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 88%;
    max-width: 1850px;
}

.main-div{
    text-align: center;
}

.main-div h1{
    font-size: 3.5rem;
    color: #FAA419;
}

.main-div h3{
    font-size: 2rem;
    color: #0256A1;
}

.contact-divs div{
    background-color: #0256A1;
    color: white;
    padding: 4rem 0;
    border-radius: 12px;
    width: 30.33%;
}

.contact-divs{
    
    font-size: 1.65rem;
    margin-top: 5rem;
    display: flex;
    justify-content:space-around;
    
}

.line-breaker{
    margin-top: 2.5rem;
    border: 10px solid rgb(18,165,192);
    border-radius: 100px;
}

.contact-info-div{
    margin: 0 auto;
    margin-top: 5rem;
    width: 60%;
}

.main-heading{
    margin-bottom: 4rem;
    color: #FAA419;
    font-size: 3.5rem;
    text-align: center;
}



.form button{

    margin: 1rem auto;
    width: 20%;
    background-color: #0256A1;
    color: white;
    cursor: pointer;
    padding: 2rem 1rem;
}



.form input, textarea{
    background-color: rgb(220, 220, 220);
}

.form input, textarea{
    padding: 2rem 2.5rem;
}

.form{
    
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}


.last-section{
    background-color: #0256A1;
    margin-top: 5rem;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}
.last-section-wrapper{
    width: 95%;
    max-width: 1850px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    gap: 4rem;

}

.last-section-wrapper h1{
    font-size: 2.2rem;
}

.images-bottom{
    gap: 1rem;
    margin-left: 1.5rem;
    width: 12%;
    display: flex;
}

.images-bottom img{
    background-color: white;

    width: 100%;
}

.bottom-text-content{
    width: 50%;
    font-size: 1.6rem;
    margin-left: 13.5rem;
}

.bottom-contact-us{
    width: 40%;
    line-height: 3;
    font-size: 1.3rem;
}



@media (max-width: 1320px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 1160px) {
    html{
        font-size: 48%;
    }
}

/*For Gallery spacing */
@media (max-width: 1640px) {
    .images-top{
        margin-bottom: -120px;
    }
}

@media (max-width: 1490px) {
    .images-top{
        margin-bottom: -114px;
    }
}

@media (max-width: 1430px) {
    .images-top{
        margin-bottom: -109px;
    }
}

@media (max-width: 1370px) {
    .images-top{
        margin-bottom: -104px;
    }
}